<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <form class="validated-form" action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="description" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div>Tags</div>
                <input type="hidden" id="tags" name="tags">
                <div id="set" class="dropzone my-3">

                </div>
                <div id="get" class="dropzone my-3">
                    <span id="Glamping" class="badge mx-1 my-1 dropable"
                        style="background-color: #B2B2B2">Glamping</span>
                    <span id="Toilet" class="badge mx-1 my-1 dropable" style="background-color: #3F7FBF">Toilet</span>
                    <span id="Drying_Rack" class="badge mx-1 my-1 dropable" style="background-color: #A3F4F4">Drying
                        Rack</span>
                    <span id="Table" class="badge mx-1 my-1 dropable" style="background-color: #B96D21">Table</span>
                    <span id="Chair" class="badge mx-1 my-1 dropable" style="background-color: #B96D21">Chair</span>
                    <span id="Water_Tap" class="badge mx-1 my-1 dropable" style="background-color: #B2DBDB;">Water
                        Tap</span>
                    <span id="Shower" class="badge mx-1 my-1 dropable" style="background-color: #3FBFBF">Shower</span>
                    <span id="Playground" class="badge mx-1 my-1 dropable"
                        style="background-color: #BF7F3F;">Playground</span>
                    <span id="Stream" class="badge mx-1 my-1 dropable" style="background-color: #3F7FBF;">Stream</span>
                    <span id="Starnight" class="badge mx-1 my-1 dropable"
                        style="background-color: #1C1616;">Starnight</span>
                    <span id="Beginner" class="badge mx-1 my-1 dropable"
                        style="background-color: #3FBF3F;">Beginner</span>
                    <span id="Intermediate" class="badge mx-1 my-1 dropable"
                        style="background-color: #BFBF3F;">Intermediate</span>
                    <span id="Expert" class="badge mx-1 my-1 dropable" style="background-color: #BF3F3F;">Expert</span>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Images upload</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image" multiple required>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">All campgrounds</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="/js/dnd.js"></script>